<!DOCTYPE html>
<html>
<head>

</head>
  <body>
            {{ include("AppBundle:general:navbar.html.twig") }}
            {{ include("AppBundle:general:sidebar.html.twig") }}
      
      <div class="core">  
      </div>
  </body>
</html>