{% extends 'AppBundle:emails:base.html.twig' %}


 {% block title %} Fill employee form {% endblock title %}

 {% block body %}


     <table border="0" cellpadding="0" cellspacing="0" class="body">
         <tr>
             <td>&nbsp;</td>
             <td class="container">
                 <div class="content">

                     <!-- START CENTERED WHITE CONTAINER -->
                     <span class="preheader">{% block preheader %}{% endblock %}</span>
                     <table class="main">

                         <!-- START MAIN CONTENT AREA -->
                         <tr>
                             <td class="wrapper">
                                 <table border="0" cellpadding="0" cellspacing="0">
                                     <tr>
                                         <td>
                                             <center>
                                                 <img src="http://www.rekrute.com/rekrute/file/jobOfferLogo/jobOfferId/77933">
                                             </center>
                                             <p>Bonjour</p>
                                             <p>Vous êtes invités à remplir votre fiche collaborateur </p>
                                             <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                                 <tbody>
                                                 <tr>
                                                     <td align="left">
                                                         <table border="0" cellpadding="0" cellspacing="0">
                                                             <tbody>
                                                             <tr>
                                                                 <td> <a href= {{ url }} target="_blank">{% block action_name %}{% endblock %}</a> </td>
                                                             </tr>
                                                             </tbody>
                                                         </table>
                                                     </td>
                                                 </tr>
                                                 </tbody>
                                             </table>
                                             <p>This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.</p>
                                             <p>Good luck! Hope it works.</p>
                                         </td>
                                     </tr>
                                 </table>
                             </td>
                         </tr>

                         <!-- END MAIN CONTENT AREA -->
                     </table>

                     <!-- START FOOTER -->
                     <div class="footer">
                         <table border="0" cellpadding="0" cellspacing="0">
                             <tr>
                                 <td class="content-block">
                                     <span class="apple-link">HiitCo, 6 Liberté Benjdia</span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                     <!-- END FOOTER -->

                     <!-- END CENTERED WHITE CONTAINER -->
                 </div>
             </td>
             <td>&nbsp;</td>
         </tr>
     </table>
 {% endblock body %}
